#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  font-size: 1.2rem; 
  color: #0070f3; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 20px; 
  border: 1px solid #0070f3; 
  padding: 10px; 
  border-radius: 5px; 
  background-color: #f0f8ff; 
  transition: transform 0.3s ease;
}

.read-the-docs:hover {
  transform: scale(1.05); 
  background-color: #e6f7ff; 
  cursor: pointer; 
}
